//Default styles

html {
 box-sizing: border-box;
}
*, *:before, *:after {
 box-sizing: inherit;
}

body {
  // display: flex;
  // min-height: 100vh;
  // flex-direction: column;
}


main {
  // flex: 1 0 auto;
}

ul {
	list-style-type: none;
}

a {
	color: $link-color;
	text-decoration: none;

  // Gets rid of tap active state
  -webkit-tap-highlight-color: transparent;
}


// Positioning
.valign-wrapper {
  @include flexbox();
  @include align(center);
  @include justify-content(center);

  .valign {
    display: block;
  }
}


ul {
  padding: 0;
  li {
    list-style-type: none;
  }
}


// Dividers

.divider {
  height: 1px;
  overflow: hidden;
  background-color: color("grey", "lighten-2");
}


//  Blockquote

blockquote {
  margin: 20px 0;
  padding-left: 1.5rem;
  border-left: 5px solid color("red", "lighten-3");
}


// Images
img.responsive-img,
video.responsive-video {
  max-width: 100%;
  height: auto;
}

// Pushpin
.pin-top, .pin-bottom {
  position: relative;
}
.pinned {
  position: fixed !important;
}

/*********************
  Transition Classes
**********************/

ul.staggered-list li {
  opacity:0;
}

.fade-in {
  opacity:0;
  transform-origin: 0 50%;
}

// Made less specific to allow easier overriding
.secondary-content {
  float: right;
  color: $secondary-color;
}


// Badges
span.badge {
  min-width: 3rem;
  padding: 0 6px;
  text-align: center;
  font-size: 1rem;
  line-height: inherit;
  color: color('grey', 'darken-1');
  float: right;
  @include box-sizing(border-box);

  &.new {
    font-weight: 300;
    font-size: 0.8rem;
    color: #fff;
    background-color: $badge-bg-color;
    @include border-radius(2px);
  }
  &.new:after {
    content: " new";
  }
}


